{{ form_start(form, { attr: {class: 'w-3/4 flex flex-row justify-end align-center'}}) }}
    {{ form_row(form.q, { attr: {class: 'h-full p-2 border'}}) }}
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Filter
    </button>
{{ form_end(form) }}