{% extends 'base.html.twig' %}
{% block title %}Fruits{% endblock %}
{% block content %}
    <h2 class="font-sans text-2xl antialiased text-teal-900 mb-10">Fruits</h2>
    {% for message in app.flashes('success') %}
        <div class="bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-3 my-3" role="alert">
            <p class="font-bold">{{ message }}</p>
        </div>
    {% endfor %}

    <div class="flex flex-row w-4/5 justify-end align-center">

        <div class="w-4/5 flex flex-row justify-end align-center mr-2">
            <a href="{{ path('app_fruit_fetch') }}" class="btn bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                Fruit Bulk Add
            </a>
        </div>
        {% include 'fruit/_filter.html.twig' with {form: form} %}
    </div>

    {% include 'fruit/_table.html.twig' %}

    {{ knp_pagination_render(fruits) }}
{% endblock %}